<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-card width="400px" class="mx-auto mt-5">
                <v-card-title>
                    <h1 class="display-1">ログイン</h1>
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field v-model="uid" prepend-icon="mdi-account-circle" label="ユーザ名"></v-text-field>
                        <v-text-field v-model="pwd" prepend-icon="mdi-lock" type="password" label="パスワード"></v-text-field>
                        <v-card-actions>
                            <v-btn v-on:click="login" class="info">ログイン</v-btn>
                          </v-card-actions>
                    </v-form>
                </v-card-text>
                
            </v-card>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>

</html>